nav {
  background-color: rgb(8, 8, 26);
  color: rgb(2, 182, 206);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-dark {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Icon-color {
  margin-left: 2rem;
  font-size: 2rem;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eee;
  margin: 0 1rem;
}
.toggle-dark {
  color: #4e4e4e;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-btn {
  margin: 1rem;
  width: 2rem;
  background-color: #fff;
  height: 1rem;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}
.toggle-btn-dark {
  margin: 1rem;
  width: 2rem;
  background-color: rgb(41, 41, 41);
  height: 1rem;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 0.9rem;
  height: 0.9rem;
  background-color: rgb(58, 58, 58);
  z-index: 999;
  border-radius: 0.5rem;
}
.toggle-btn-dark::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  width: 0.9rem;
  height: 0.9rem;
  background-color: rgb(224, 224, 224);
  z-index: 999;
  border-radius: 0.5rem;
}

.main {
  color: #fff;
  margin-left: 2rem;
}

.main-dark {
  margin-left: 2rem;
}

.App-dark {
  background-color: rgb(32, 34, 41);
  height: 100vh;
}
.App {
  background-color: #fff;
  height: 100vh;
}

ul {
  list-style: none;
  text-transform: capitalize;
}

ul li::before {
  content: "\2022";
  color: rgb(2, 182, 206);
  font-size: 1rem;
}
